# Projeto - Relatório de fechamanto de mercado por e-mail.

1. importar modulos e bibliotecas
2. pegar dados do ibov e dolar do yahoo finance
3. manipular e formatar dados 
4. calcular retorno diario, mensal e anual
5. localizar na tab de retorno, valores de fechamento de mercado que irão p anexo no email
6. plotar gráficos dos ativos
7. enviar email

In [7]:
import pandas as pd
import datetime
import yfinance as yf
from matplotlib import pyplot as plt
import mplcyberpunk
import win32com.client as win32

In [23]:
codigos = ["^BVSP","BRL=X","WEGE3.SA"]

hoje = datetime.datetime.now()
anoPassado = hoje - datetime.timedelta(days = 365)

dados = yf.download(codigos, anoPassado, hoje)

display(dados)

[*********************100%***********************]  3 of 3 completed

           Adj Close                             Close             \
               BRL=X   WEGE3.SA          ^BVSP   BRL=X   WEGE3.SA
Date
2022-02-07    5.3269  30.456741  111996.000000  5.3269  31.000000
2022-02-08    5.2626  29.690409  112234.000000  5.2626  30.219999
2022-02-09    5.2584  29.759184  112461.000000  5.2584  30.290001
2022-02-10    5.2345  29.218821  113359.000000  5.2345  29.740000
2022-02-11    5.2487  29.012501  113572.000000  5.2487  29.530001
...              ...        ...            ...     ...        ...
2023-02-01    5.0722  38.389999  112303.000000  5.0722  38.389999
2023-02-02    5.0535  38.040001  109935.000000  5.0535  38.040001
2023-02-03    5.0492  37.910000  108490.000000  5.0492  37.910000
2023-02-06    5.1498  37.570000  108456.000000  5.1498  37.570000
2023-02-07       NaN  37.660000  108465.171875     NaN  37.660000

                             High                            Low             \
                    ^BVSP   BRL=X   WEGE3.SA     ^BVSP     BRL=X   WEGE3.SA
Date
2022-02-07  111996.000000  5.3430  31.340000  112517.0  5.276800  30.520000
2022-02-08  112234.000000  5.2849  30.940001  112251.0  5.251000  30.049999
2022-02-09  112461.000000  5.2880  30.969999  113163.0  5.232774  30.270000
2022-02-10  113359.000000  5.2446  30.549999  113812.0  5.170000  29.620001
2022-02-11  113572.000000  5.2512  30.010000  114899.0  5.182800  29.459999
...                   ...     ...        ...       ...       ...        ...
2023-02-01  112303.000000  5.0868  38.750000  113598.0  5.047900  37.720001
2023-02-02  109935.000000  5.0545  38.980000  112943.0  4.941700  37.709999
2023-02-03  108490.000000  5.1347  38.599998  110570.0  5.046758  37.709999
2023-02-06  108456.000000  5.2060  38.029999  108710.0  5.147992  37.220001
2023-02-07  108465.171875     NaN  37.669998  109037.0       NaN  37.240002

                               Open                          Volume  \
                    ^BVSP     BRL=X   WEGE3.SA         ^BVSP  BRL=X
Date
2022-02-07  111490.000000  5.326200  30.900000  112247.00000    0.0
2022-02-08  110943.000000  5.262800  30.770000  111995.00000    0.0
2022-02-09  111710.000000  5.256489  30.540001  112233.00000    0.0
2022-02-10  112163.000000  5.231429  30.290001  112462.00000    0.0
2022-02-11  113128.000000  5.248600  29.799999  113368.00000    0.0
...                   ...       ...        ...           ...    ...
2023-02-01  110729.000000  5.072200  38.189999  113430.00000    0.0
2023-02-02  109747.000000  5.053500  38.130001  112072.00000    0.0
2023-02-03  108185.000000  5.049200  37.840000  110141.00000    0.0
2023-02-06  107416.000000  5.149800  37.840000  108518.00000    0.0
2023-02-07  108079.296875       NaN  37.500000  108726.78125    NaN


             WEGE3.SA       ^BVSP
Date
2022-02-07  5010100.0  10672800.0
2022-02-08  6430500.0  10157500.0
2022-02-09  5009700.0  13794500.0
2022-02-10  8569200.0  13267900.0
2022-02-11  9352700.0  18602800.0
...               ...         ...
2023-02-01  6318500.0  17821500.0
2023-02-02  7112600.0  15241800.0
2023-02-03  8093400.0  13235300.0
2023-02-06  6881500.0  11514600.0
2023-02-07  2742200.0         0.0

[262 rows x 18 columns]

In [34]:
fechamento = dados['Adj Close']

#colums nomeia a coluna
fechamento.columns = ['dolar', 'ibov', 'weg3']

fechamento = fechamento.dropna() #exclui dados faltantes

fechamento.head(20)

               dolar       ibov      weg3
Date
2022-02-07  5.326900  30.456741  111996.0
2022-02-08  5.262600  29.690409  112234.0
2022-02-09  5.258400  29.759184  112461.0
2022-02-10  5.234500  29.218821  113359.0
2022-02-11  5.248700  29.012501  113572.0
2022-02-14  5.249956  29.906555  113807.0
2022-02-15  5.214000  32.303795  114660.0
2022-02-16  5.157900  30.751482  115181.0
2022-02-17  5.135800  30.112875  113528.0
2022-02-18  5.170600  29.287598  112768.0
2022-02-21  5.137500  29.203707  111725.0
2022-02-22  5.102700  29.213598  112892.0
2022-02-23  5.057100  28.293564  112008.0
2022-02-24  5.008700  29.005848  111592.0
2022-02-25  5.122200  29.084991  113142.0
2022-03-02  5.159000  29.925884  115174.0
2022-03-03  5.096503  30.915169  115166.0
2022-03-04  5.030900  31.172382  114474.0
2022-03-07  5.060560  30.746990  111593.0
2022-03-08  5.110500  31.231739  111203.0

In [38]:
# trabalhando com timeframes (linha do tempo)
# resample = redimencionamento, last = fechamento (ultimo)

anual = fechamento.resample("Y").last()   #year
anual = fechamento.resample("M").last()   #month

anual

             dolar       ibov      weg3
Date
2022-02-28  5.1222  29.084991  113142.0
2022-03-31  4.7697  34.534992  119999.0
2022-04-30  4.9378  29.810825  107876.0
2022-05-31  4.7524  25.126268  111351.0
2022-06-30  5.1809  26.238823   98542.0
2022-07-31  5.1827  27.958895  103165.0
2022-08-31  5.1219  28.208172  109523.0
2022-09-30  5.3962  32.093353  110037.0
2022-10-31  5.2885  40.221539  116037.0
2022-11-30  5.2682  38.943398  112486.0
2022-12-31  5.2668  38.509998  110031.0
2023-01-31  5.1149  38.240002  113532.0
2023-02-28  5.1498  37.570000  108456.0

In [39]:
retornoAnual = anual.pct_change().dropna() 
# percent change = variação percentual entre os elementos , % de lucro ou preju
 
retornoAnual

               dolar      ibov      weg3
Date
2022-03-31 -0.068818  0.187382  0.060605
2022-04-30  0.035243 -0.136794 -0.101026
2022-05-31 -0.037547 -0.157143  0.032213
2022-06-30  0.090165  0.044279 -0.115033
2022-07-31  0.000347  0.065554  0.046914
2022-08-31 -0.011731  0.008916  0.061629
2022-09-30  0.053554  0.137732  0.004693
2022-10-31 -0.019959  0.253267  0.054527
2022-11-30 -0.003839 -0.031778 -0.030602
2022-12-31 -0.000266 -0.011129 -0.021825
2023-01-31 -0.028841 -0.007011  0.031818
2023-02-28  0.006823 -0.017521 -0.044710