In [3]:
#chave do alpha vantage - free

with open("C:/Users/pulpp/OneDrive/Documentos/Python Scripts/api_key.txt", "r") as file:
    chave = file.read().strip()

    #pip install 'request' pacote necessario

In [4]:
import requests

acao = "wege3.sa"

#cotação semanal ajustada
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={acao}&apikey={chave}'
r = requests.get(url)
data = r.json()

display(data["Meta Data"])

{'1. Information': 'Weekly Adjusted Prices and Volumes',
 '2. Symbol': 'wege3.sa',
 '3. Last Refreshed': '2023-01-16',
 '4. Time Zone': 'US/Eastern'}

In [5]:
import pandas as pd
from io import StringIO #transforma o texto em arquivo

url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={acao}&apikey={chave}&datatype=csv'
r = requests.get(url)

#display(r.text) #transformando o 'r = requisição de get (pegar) o url' em texto. 
tabela = pd.read_csv(StringIO(r.text))
display(tabela)

,timestamp,open,high,low,close,adjusted close,volume,dividend amount
0,2023-01-16,39.10,39.10,37.27,37.69,37.6900,7545600,0.0
1,2023-01-13,38.00,39.36,37.08,38.97,38.9700,28602700,0.0
2,2023-01-06,38.50,38.50,36.66,38.03,38.0300,25582700,0.0
3,2022-12-29,38.33,39.33,37.78,38.51,38.5100,18929800,0.0
4,2022-12-23,37.69,39.38,37.65,38.50,38.5000,36204100,0.0
...,...,...,...,...,...,...,...,...
860,2005-06-17,8.00,8.00,8.00,8.00,0.6409,0,0.0
861,2005-06-10,8.50,8.50,7.50,7.50,0.6009,8,0.0
862,2005-02-28,7.80,7.80,7.80,7.80,0.6249,0,0.0
863,2005-02-24,7.80,7.80,7.80,7.80,0.6249,3,0.0
864,2005-02-16,8.12,8.12,8.12,8.12,0.6505,0,0.0

In [7]:
#plano gratuito do alpha usa 5 requisições de ações por minuto

acoes = ['ITUB4','ABEV3']

compilada = pd.DataFrame()

for acao2 in acoes:
    url = f'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol={acao2}&apikey={chave}&datatype=csv'
    r = requests.get(url)
    tabela = pd.read_csv(StringIO(r.text))
    lista_tabelas = [ compilada, tabela ]
    compilada = pd.concat(lista_tabelas)

display(compilada)

Empty DataFrame
Columns: [{}]
Index: []

#encontrar ativos

In [16]:
import requests

key = "yahoo"
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords={key}&apikey={chave}&datatype=csv'
r = requests.get(url)

tabela = pd.read_csv(StringIO(r.text))
display(tabela)

Empty DataFrame
Columns: [symbol, name, type, region, marketOpen, marketClose, timezone, currency, matchScore]
Index: []