In [24]:
import pandas as pd
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'pandas_datareader'

In [22]:
dados_bancarios = yf.download(['ITSA4.SA','BRAP3.SA', 'BRIV4.SA', '^BVSP'],start='2022-01-01', end='2023-01-01' )['Adj Close'] 
#adj close

[*********************100%***********************]  4 of 4 completed

In [23]:
display(dados_bancarios)

             BRAP3.SA  BRIV4.SA  ITSA4.SA     ^BVSP
Date
2022-01-03  19.247200  6.997087  7.635641  103922.0
2022-01-04  19.291548  6.978722  7.694898  103514.0
2022-01-05  19.477810  6.978722  7.610246  101006.0
2022-01-06  20.009991  6.997087  7.677968  101561.0
2022-01-07  21.074352  7.336841  7.771085  102719.0
...               ...       ...       ...       ...
2022-12-23  25.963707  9.150000  8.580000  109698.0
2022-12-26  25.794724  9.380000  8.470000  108738.0
2022-12-27  26.160000  9.030000  8.380000  108347.0
2022-12-28  26.680000  9.080000  8.550000  110237.0
2022-12-29  25.570000  9.290000  8.510000  110031.0

[250 rows x 4 columns]

In [ ]:
yf.pdr_override()